<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learntosail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".WindDirection"
            android:exported="false" />
        <activity
            android:name=".GainSpeed"
            android:exported="false" />
        <activity
            android:name=".LearnPointsOfSail"
            android:exported="false" >
            <intent-filter>
                <action android:name="package.LearnPointsOfSail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnBoatParts"
            android:exported="false" />
        <activity
            android:name=".BoatParts"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="package.FirstActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnTheWater"
            android:exported="false">
            <intent-filter>
                <action android:name="package.OnTheWater" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DressToSailActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="package.DressToSailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>